@model Kyrsach.Models.Comment

 @using (Html.BeginForm())
 {
    <table>
        <tr>
            <th>
                Правильный Ответ:@Html.Label(Model.Test.Answer1)
            </th>
            <th>
                Правильный Ответ:@Html.Label(Model.Test.Answer2)
            </th>
            <th>
                Правильный Ответ:@Html.Label(Model.Test.Answer3)
            </th>
            <th>
                Правильный Ответ:@Html.Label(Model.Test.Answer4)
            </th>
            <th>
                Правильный Ответ:@Html.Label(Model.Test.Answer5)
            </th>
        </tr>
            <tr>
                <th>
                   Ответ ученика:@Html.Label(Model.Answer1)
                </th>
                <th>
                   Ответ ученика:@Html.Label(Model.Answer2)
                </th>
                <th>
                    Ответ ученика: @Html.Label(Model.Answer3)
                </th>
                <th>
                    Ответ ученика: @Html.Label(Model.Answer4)
                </th>
                <th>
                    Ответ ученика:  @Html.Label(Model.Answer5)
                </th>
            </tr>
    </table>
       <div class="editor-field">
            @Html.EditorFor(model => model.Mark) 
            @Html.ValidationMessageFor(model => model.Mark) 
        </div>
        <p>
            <input type="submit" value="Добавить" />
        </p>
 }
    <div>
        @Html.ActionLink("Назад", "Index")
    </div>